.image-about-page {
  height: 300px;
  border-radius: 5px;
}

.skillset-separator {
  display: block;
  padding-top: 40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.work-experience * {
  border-radius: .375rem; // equal to border-1 for Bootstrap5

}

.vr {
  width: 1px;
}

.card-img-top {
  height: 500px;
}